.DS_Store
__pycache__

# for editer
.vscode

# jupyter notebook checkpoints
.ipynb_checkpoints
# saved data
*.dill
*.pkl

# spyder projects
.spyproject

# pdf
*.pdf

# homeworks
QPCA
homework
tutorials
*.m
sample_notebook.ipynb
.idea
/summary_ipynb/2021/09 September/09 Thu/result/full.tar.gz
/summary_ipynb/2021/10 October/15 Fri/Exp6(pseudo_iris_hard).zip

*.csv#
**/events.out.tfevents.*
