.DS_Store
__pycache__

# for editer
.vscode

# jupyter notebook checkpoints
.ipynb_checkpoints
# saved data
*.dill
*.pkl
*/runs/*

# spyder projects
.spyproject

# pdf
*.pdf

# homeworks
QPCA
homework
tutorials
*.m
