.DS_Store
__pycache__

# for editer
.vscode

# jupyter notebook checkpoints
.ipynb_checkpoints
# saved data
*.dill
*.pkl
.gitignore

# spyder projects
.spyproject

# pdf
*.pdf

# homeworks
QPCA
homework
tutorials
*.m
sample_notebook.ipynb
.idea
